.memhead{
    display: grid;
    grid-template-columns: 250px 1fr 250px ;
    grid-template-rows: repeat(3, 1fr);
    height:214px ;
}

.bg {
    background-image: url("header/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.loginto{
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    color: white;

}

.gvn{
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    justify-self: center;
}

.gvn img{
    height: 81px;
}

.mform{
    display: grid;
    height: 275px;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 50px 75px 75px 25px 25px 25px;
}

.usern{
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

.passw{
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    justify-self: center;
}

.mform .input{
    width: 400px;
    height: 50px;
    border-bottom: 2px solid cyan;
    border-top: none;
    border-right: none;
    border-left: none;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

input::placeholder{
    color: white;
}

.subm{
    grid-column: 2;
    grid-row: 4;
    align-self: center;
    justify-self: center;
    color: white;
}

.not{
    grid-column: 2;
    grid-row: 5;
    align-self: center;
    justify-self: center;
    color: white;
}

.not a{
    color: cyan;
    text-decoration-line: none;
}

footer{
    display: grid;
    height: 55px;
    grid-template-columns:  50px 50px 20px 20px 50px 100px 1fr 100px 50px 20px 50px 20px 50px;
    grid-template-rows: 1fr;
    background-image: linear-gradient(to bottom, midnightblue, black, midnightblue);
}

.copyright{
    grid-column: 7;
    color: white;
    align-self: center;
    justify-self: center;
}

.insta{
    grid-column: 9;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.insta:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.disc{
    grid-column: 11;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.disc:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


.twit{
    grid-column: 13;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.twit:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


.find{
    grid-column: 8;
    color: white;
    align-self: center;
    justify-self: center;

}

footer img{
    height: 40px;
}